@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 90px;
    background-color: #fff;
    overflow: hidden;
    transition: width 0.3s ease;
    z-index: 1000;
}

nav:hover {
    width: 220px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    text-align: center;
}

nav ul li a {
    color: #555353;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px;
    transition: background 0.5s;
    position: relative;
    width: 100%;
}

nav ul li a .fas {
    width: 70px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    transition: color 0.5s;
}

nav ul li a:hover {
    background: #eee;
}

nav ul li a:hover .fas {
    color: #34AF6D;
}

.nav-item {
    margin-left: 10px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.5s ease;
}

nav:hover .nav-item {
    opacity: 1;
}

nav ul li a.logo {
    margin: 10px 0;
    padding-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li a.logo img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.logout {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.logout a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    margin-left: 90px;
    width: calc(100% - 90px);
    transition: margin-left 0.3s, width 0.3s;
}

nav:hover + .container {
    margin-left: 220px;
    width: calc(100% - 220px);
}

.container {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.container p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.container span {
    font-size: 12px;
}

.container a {
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.container button {
    background-color: rgb(0, 200, 255);
    color: #000000;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.container input {
    background-color: #eff9ff;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in {
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.active .sign-in {
    transform: translateX(100%);
}
